.menu {
	background: #252525;
	padding: 15px 0;
}

.menu-nav {
	flex: 1;
	align-self: center;
}

.menu-nav a {
	text-decoration: none;
	color: #fff;
	font-size: 1.125em;
}

.menu-nav ul {
	float: right;
	display: flex;
	list-style: none;
}

.menu-nav ul li a {
	padding: 10px;
}
